<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>List of Places</title>
  <script src="{{ url_for('static', filename= 'js/list.js') }}" charset="utf-8"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/list.css') }}">
</head>

<body>
  <div id="places-loading" class="places-loading">
    <div class="loading-ball">

    </div>
  </div>
  <div id="places-list" class="places-list">
  </div>
</body>

</html>