<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>More Info</title>
  <script src="{{ url_for('static', filename= 'js/moreinfo.js') }}" charset="utf-8"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/moreinfo.css') }}">
</head>

<body>
  <div id="place-loading" class="place-loading">
    <div class="loading-ball">

    </div>
  </div>
  <div id="place" class="place">
  </div>
  <div class="quote-form" id="quote-form">
    <div>
      <h2>Get a quote</h2>
      <input type="number" name="" value="" id='numberofpeople' placeholder="Number of People">
      <button type="button" name="button" id="get-quote-btn">Get Quote</button>
      <div id="quote-price">

      </div>
    </div>
  </div>
</body>

</html>