<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Test APIs</title>
  <script src="{{ url_for('static', filename= 'js/test.js') }}" charset="utf-8"></script>
</head>

<body>
  <div id="body">

  </div>
</body>

</html>