body{
  border:0;
  margin: 0;
  background-color: bisque;
}
.places-list{
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px 10%;
  justify-items: center;
}
/* .places-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 50px 10%;
  justify-items: center;
}
@media (max-width: 992px) {
    .places-list {  grid-template-columns: 1fr 1fr;padding: 50px 5%;}
}
@media (max-width: 700px) {
    .places-list {  grid-template-columns: auto;padding: 50px 5%;}
} */
.places-loading{
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 100;
}
.loading-ball{
  width:70px;
  height: 70px;
  border: 5px solid grey;
  border-top: 5px solid red;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.place-item{
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 2px solid lightblue;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 5px black;
  margin: 10px auto;
}
.place-item > img {
    float: left;
    width:  100%;
    height: 200px;
    object-fit: cover;
    border-radius: 7px 7px 0px 0px;
}
.item-bottom{
  display: flex;
  width:  100%;
  justify-content: space-between;
  align-items: center;
}
.item-bottom-side{
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 25px;
}
.item-bottom-side:last-child{
  align-items: center;
}
.moreinfo-btn{
  font-size: 17px;
  padding: 10px 20px;
  margin-top: 5px;
  border: 0px;
  background-color: green;
  cursor: pointer;
  background: rgb(163,50,13);
  background: linear-gradient(90deg, rgba(163,50,13,1) 0%, rgba(255,109,11,1) 35%, rgba(255,184,0,1) 100%);
  border-bottom: 2px solid rgb(148,45,11);
  border-radius: 12px;
}
.weather-icon{
  width:50px;
  height: 50px;
  background-size: cover;
}
.desc{
    font-size:17px;
}
.quote-form{
  margin: 10px auto;
  width: 80%;
  background: white;
  border-radius: 10px;
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  border: 2px solid lightblue;
  box-shadow: 0px 0px 5px black;
}
.quote-form > div > h2{
  margin: 10px;
}
.quote-form > div > input{
  height: 30px;
  font-size: 20px;
  padding: 5px 10px;
  line-height: 19px;
}
.quote-form > div > button{
  font-size: 17px;
  padding: 10px 20px;
  margin-top: 5px;
  border: 0px;
  background-color: green;
  cursor: pointer;
  background: rgb(163,50,13);
  background: linear-gradient(90deg, rgba(163,50,13,1) 0%, rgba(255,109,11,1) 35%, rgba(255,184,0,1) 100%);
  border-bottom: 2px solid rgb(148,45,11);
  border-radius: 12px;
}
#quote-price{
  font-size:20px;
}
